<p-table #dt [value]="questions" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="message">
        <div class="p-d-flex p-jc-between p-ai-center">
          Question
          <p-sortIcon field="message"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="created">
        <div class="p-d-flex p-jc-between p-ai-center">
          Time
          <p-sortIcon field="created"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="rating">
        <div class="p-d-flex p-jc-between p-ai-center">
          Score
          <p-sortIcon field="rating"></p-sortIcon>
        </div>
      </th>
      <th *ngFor="let columnHeaders of customColumnHeaders">
        <div class="p-d-flex p-jc-between p-ai-center">
          {{columnHeaders.title}}
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-question>
    <tr>
      <td>{{question.message}}</td>
      <td>{{question.created}}</td>
      <td>{{question.rating}}</td>

      <ng-container
        [ngTemplateOutlet]="currentCustomHeader"
        [ngTemplateOutletContext]="{question:question}">
      </ng-container>

    </tr>
  </ng-template>
</p-table>

