<app-header></app-header>
<app-content>

  <app-presenter-create-session-dialog [visible]="openNewSessionDialog" (onHide)="onClosedCreateSessionDialog($event)" ></app-presenter-create-session-dialog>

  <div class="grid flex-column">
    <div class="col">
      <p-card>
        <button (click)="onCreateSession()" pButton type="button" label="Create Session" ></button>
      </p-card>
    </div>
    <div class="col">
      <p-card>
        <h2>All Sessions</h2>
        <app-presenter-session-metadata-overview [sessionsMetadata]="sessionsMetadata" (onSelectSessionMetadata)="onSelectSessionMetadata($event)" ></app-presenter-session-metadata-overview>
      </p-card>
    </div>
  </div>

</app-content>

